<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find mrobot_gazebo)/worlds/icra2020_new.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
 <master auto="start"/>
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description0" command="$(find xacro)/xacro --inorder '$(find mrobot_gazebo)/urdf/mrobot.urdf0.xacro'" />

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model mrobot0 -param robot_description0 -x 0.5 -y 0.5 -Y 0"/> 
   <!-- Run the nav node -->
  <node pkg="icra_nav" type="nav_node" name="nav_node" output="screen" respawn="true" />
  <node pkg="icra_nav" type="path_planning" name="path_planning" output="screen" respawn="true" />
  <node pkg="icra_nav" type="trans_odom" name="trans_odom" output="screen" respawn="true" />
  <node pkg="icra_nav" type="dynamic_obstacle" name="dynamic_obstacle" output="screen" respawn="true" />
  <node pkg="qtros" type="qtros" name="qtros" output="screen" respawn="true" />

</launch>
